.btn-menu {
  color: $color-black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 31px;
  // position: fixed;
  // right: $space-11x;
  // top: $space-11x;
  width: 37px;
  z-index: 500;

  @include bp-sm() {
    height: 31px;
    // right: $space-22x;
    // top: $space-22x;
    width: 46px;
  }

  // @include bp-md() {
  //   right: $space-44x;
  //   top: $space-44x;
  // }

  // @include bp-xl() {
  //   right: calc((100% - 1440px)/2 + 44px);
  // }

  .icon-menu-burger {
    display: block;
    height: 24px;
    width: 37px;

    @include bp-sm() {
      height: 31px;
      width: 46px;
    }
  }

  .icon-menu-cross {
    display: none;
    height: 31px;
    width: 31px;

    @include bp-sm() {
      height: 31px;
      width: 31px;
    }

    @include bp-md() {
      height: 31px;
      width: 31px;
    }
  }

  &.is-active {
    .icon-menu-burger {
      display: none;
    }

    .icon-menu-cross {
      display: block;
    }
  }
}