.btn-menu {
  color: $color-black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 31px;
  width: 37px;

  @include bp-sm() {
    height: 31px;
    width: 46px;
  }

  .icon-menu-burger {
    display: block;
    height: 24px;
    width: 37px;

    @include bp-sm() {
      height: 31px;
      width: 46px;
    }
  }

  .icon-menu-cross {
    display: none;
    height: 31px;
    width: 31px;

    @include bp-sm() {
      height: 31px;
      width: 31px;
    }

    @include bp-md() {
      height: 31px;
      width: 31px;
    }
  }

  &.is-active {
    .icon-menu-burger {
      display: none;
    }

    .icon-menu-cross {
      display: block;
    }
  }
}