/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:       #000000;
$color-white:       #ffffff;
$color-blue:        #006986;
$color-grey:        #999999;
$color-grey-medium: #eeeeee;


// Notifications
$color-danger:  red;
$color-success: green;
$color-info:    yellow;

