/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */
 
/* Box shadows
 * -------------------- */

$box-shadow: 5px 8px 20px 0px rgba(0,0,0,0.45);

/* Default easing
 * -------------------- */

$easing: cubic-bezier(0.980, 0.310, 0.940, 0.840);

/* Urls
 * -------------------- */
 
$url-images: '../img/';
$url-icons:  '../img/icons/';
$url-svg:    '../img/svg/';

/* Breakpoints
 * -------------------- */

$bp-xs:   1023.999px; 
$bp-sm:   768px;
$bp-md:  1024px;
$bp-lg:  1280px;
$bp-xl:  1440px;

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl,
);

/* Site
 * -------------------- */

// standard screen size
$page-max-width:  1440px;


/* Header
 * -------------------- */

$header-height:    110px;
$header-height-sm: 160px;
$header-height-md: 240px;

/* Grids
 * -------------------- */

$grid-gap-sm: 10px;
$grid-gap-md: 15px;


