/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-1x: 1px;
$space-2x: 2px;
$space-3x: 3px;
$space-4x: 4px;
$space-5x: 5px;
$space-6x: 6px;
$space-7x: 7px;
$space-8x: 8px;
$space-9x: 9px;
$space-10x: 10px;
$space-11x: 11px;
$space-12x: 12px;
$space-13x: 13px;
$space-14x: 14px;
$space-15x: 15px;
$space-16x: 16px;
$space-17x: 17px;
$space-18x: 18px;
$space-19x: 19px;
$space-20x: 20px;
$space-21x: 21px;
$space-22x: 22px;
$space-23x: 23px;
$space-24x: 24px;
$space-25x: 25px;
$space-26x: 26px;
$space-27x: 27px;
$space-28x: 28px;
$space-29x: 29px;
$space-30x: 30px;
$space-31x: 31px;
$space-32x: 32px;
$space-33x: 33px;
$space-34x: 34px;
$space-35x: 35px;
$space-36x: 36px;
$space-37x: 37px;
$space-38x: 38px;
$space-39x: 39px;
$space-40x: 40px;
$space-41x: 41px;
$space-42x: 42px;
$space-43x: 43px;
$space-44x: 44px;
$space-45x: 45px;
$space-46x: 46px;
$space-47x: 47px;
$space-48x: 48px;
$space-49x: 49px;
$space-50x: 50px;
$space-51x: 51px;
$space-52x: 52px;
$space-53x: 53px;
$space-54x: 54px;
$space-55x: 55px;
$space-56x: 56px;
$space-57x: 57px;
$space-58x: 58px;
$space-59x: 59px;
$space-60x: 60px;
$space-61x: 61px;
$space-62x: 62px;
$space-63x: 63px;
$space-64x: 64px;
$space-65x: 65px;
$space-66x: 66px;
$space-67x: 67px;
$space-68x: 68px;
$space-69x: 69px;
$space-70x: 70px;
$space-71x: 71px;
$space-72x: 72px;
$space-73x: 73px;
$space-74x: 74px;
$space-75x: 75px;
$space-76x: 76px;
$space-77x: 77px;
$space-78x: 78px;
$space-79x: 79px;
$space-80x: 80px;
$space-81x: 81px;
$space-82x: 82px;
$space-83x: 83px;
$space-84x: 84px;
$space-85x: 85px;
$space-86x: 86px;
$space-87x: 87px;
$space-88x: 88px;
$space-89x: 89px;
$space-90x: 90px;
$space-91x: 91px;
$space-92x: 92px;
$space-93x: 93px;
$space-94x: 94px;
$space-95x: 95px;
$space-96x: 96px;
$space-97x: 97px;
$space-98x: 98px;
$space-99x: 99px;
$space-100x: 100px;