.project {

  .project-content {
    position: relative;

    article {
      position: relative;

      header {
        height: $space-39x;

        @include bp-sm() {
          height: $space-47x;
        }

        a {
          color: $color-black;
          text-decoration: none;

          .icon-cross {
            display: none;
          }

          &.is-active {
            .icon-cross {
              display: block;
            }
            .icon-chevron-down {
              display: none;
            }
          }

          @include bp-md() {
            pointer-events: none;
            svg {
              display: none !important;
            }
          }
        }
      }

      p:last-of-type {
        margin-bottom: 0 !important;
      }
 
      section {
        display: none;
        width: 100%;

        &.is-visible {
          display: block;
          z-index: 50;
        }

        @include bp-md() {
          display: block;
        }
      }
    }

    nav.project-browse {
      display: none;

      &.is-hidden {
        display: none;
      }

      a {
        color: $color-black;
        display: block;
        text-decoration: none;
      }

      @include bp-sm() {
        display: block;
        position: absolute;
        left: 4px;
        top: -34px;
        width: 50px;
        z-index: 200;

        > div {
          align-items: center;
          position: relative;
          display: flex;
          justify-content: space-between;
          width: inherit;

          > span {
            display: block;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            width: auto;
            white-space: nowrap;
            height: 20px;
            left: 70px;
            z-index: -1;

            &.is-visible {
              pointer-events: all;
              opacity: 1;
              z-index: 0;
            }
          }
        }

      }

      @include bp-md() {
        left: auto;
        right: 0;

        > div {
          
          > span {
            left: auto;
            right: 70px;
          }
        }
      }
    }
  }
}