/**
 * -----------------------------------------------------------------------------
 * File: modules/grid
 * -----------------------------------------------------------------------------
 */

[class*="grid-gallery-"],
[class^="grid-gallery-"] {
  gap: $space-16x;
  position: relative;

  + [class*="grid-gallery-"], 
    [class^="grid-gallery-"] {
      @extend %mt-8x;
      @extend %sm\:mt-16x;
  }
}

.grid-gallery-1 {
  grid-template-areas: 
  "a a a a a a"
  "a a a a a a";
}

.grid-gallery-2-1 {
  grid-template-areas:
    "a a a a b b"
    "a a a a b b";
}

.grid-gallery-1-2 {
  grid-template-areas:
    "a a b b b b"
    "a a b b b b";
}

.grid-gallery-1sq-1sq_1sq {
  grid-template-areas:
  "a a a a b b"
  "a a a a c c";
}

.grid-gallery-1sq_1sq-1sq {
  grid-template-areas:
  "a a c c c c"
  "b b c c c c";
}

.grid-gallery-1-1_1 {
  grid-template-areas:
    "a a a b b b"
    "a a a c c c";
}

.grid-gallery-1_1-1 {
  grid-template-areas:
    "a a a c c c"
    "b b b c c c";
}

.grid-gallery-1s-1s-1s {
  grid-template-areas:
    "a a b b c c"
}

.grid-gallery-1-1-1,
.grid-gallery-1w-1w-1w,
.grid-gallery-1sq-1sq-1sq {
  grid-template-areas:
    "a a b b c c"
    "a a b b c c";
}

.grid-gallery-1w-1w {
  grid-template-areas:
    "a a a b b b";
}

.grid-gallery-1sq-1sq,
.grid-gallery-1-1 {
  grid-template-areas:
    "a a a b b b"
    "a a a b b b";
}

.grid-gallery-1sq-1 {
  grid-template-areas:
    "a a a b b b"
    "c c c b b b";
}

.grid-gallery-1-1sq {
  grid-template-areas:
    "a a a b b b"
    "a a a c c c";
}

.grid-gallery-1sq-1_1_1 {
  grid-template-areas:
    "a a a a b b"
    "a a a a c c"
    "a a a a d d";
}

.grid-gallery-1_1_1-1sq {
  grid-template-areas:
    "a a d d d d"
    "b b d d d d"
    "c c d d d d";
}

.grid-gallery-1sq-1_1 {
  grid-template-areas:
    "a a a a b b"
    "a a a a b b"
    "a a a a c c";
}

.grid-gallery-1_1-1sq {
  grid-template-areas:
    "a a c c c c"
    "a a c c c c"
    "b b c c c c";
}

.grid-gallery-1_1-2 {
  grid-template-areas:
    "a a c c c c"
    "b b c c c c";
}

.grid-gallery-2-1_1 {
  grid-template-areas:
    "a a a a b b"
    "a a a a c c";
}

.grid-gallery-1-1_1-1 {
  grid-template-areas:
    "a a b b d d"
    "a a c c d d";
}

.grid-gallery-1-1-1_1 {
  grid-template-areas:
    "a a b b c c"
    "a a b b d d";
}

.grid-gallery-1_1-1-1 {
  grid-template-areas:
    "a a c c d d"
    "b b c c d d";
}

.grid-gallery-1_1-1-1_1 {
  grid-template-areas:
    "a a c c d d"
    "b b c c e e";
}

.grid-gallery-1_1-1_1-1 {
  grid-template-areas:
    "a a c c e e"
    "b b d d e e";
}

.grid-gallery-1-1_1-1_1 {
  grid-template-areas:
    "a a b b d d"
    "a a c c e e";
}

.grid-gallery-1t_1-1_1-1 {
  grid-template-areas:
    "a a c c e e"
    "b b d d e e";
}

.grid-area-a {
  grid-area: a;
}

.grid-area-b {
  grid-area: b;
}

.grid-area-c {
  grid-area: c;
}

.grid-area-d {
  grid-area: d;
}

.grid-area-e {
  grid-area: e;
}


[class*="grid-gallery-"] picture,
[class^="grid-gallery-"] picture {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  figcaption {
    align-items: center;
    background-color: rgba($color-blue, 0.5);
    color: $color-black;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    transition: opacity 0.12s ease;
  }
}

[class*="grid-gallery-"] a:hover picture figcaption,
[class^="grid-gallery-"] a:hover picture figcaption {
  opacity: 1;
  z-index: 1;
}

[class*="grid-gallery-"] img,
[class^="grid-gallery-"] img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

[class*="aspect-ratio-"],
[class^="aspect-ratio-"] {
  @extend %mb-8x;
  @extend %sm\:mb-16x;
  @extend %md\:mb-0;
  position: relative;

  &:last-of-type {
    margin-bottom: 0 !important;
  }
}

[class*="aspect-ratio-"] > div,
[class^="aspect-ratio-"] > div {
  height: 100%;
  width: 100%;
}

[class*="aspect-ratio-"] > article,
[class^="aspect-ratio-"] > article {
  @extend %py-8x;
  @extend %px-2x;
  border-bottom: 1px solid $color-black;
  border-top: 1px solid $color-black;
  height: 100%;
  width: 100%;

  // remove aspect ratio for articles on mobile screens
  @include bp-xs() {
    aspect-ratio: 0 !important; 
  }
}

.aspect-ratio-a > picture,
.aspect-ratio-a > a > picture,
.aspect-ratio-a > article {
  aspect-ratio: 1.48;
}

.aspect-ratio-b > picture,
.aspect-ratio-b > a > picture,
.aspect-ratio-b > article {
  aspect-ratio: 0.73;
}

.aspect-ratio-c,
.aspect-ratio-c > picture,
.aspect-ratio-c > a > picture,
.aspect-ratio-c > article,
.aspect-ratio-d > picture,
.aspect-ratio-d > a > picture,
.aspect-ratio-d > article {
  aspect-ratio: 1.5;
}

.aspect-ratio-e,
.aspect-ratio-e > picture,
.aspect-ratio-e > a > picture,
.aspect-ratio-e > article {
  aspect-ratio: 1.48;
}

.aspect-ratio-f > picture,
.aspect-ratio-f > a > picture,
.aspect-ratio-f > article {
  aspect-ratio: 0.72;
}

.aspect-ratio-g > picture,
.aspect-ratio-g > a > picture,
.aspect-ratio-g > article {
  aspect-ratio: 1.5;
}

.aspect-ratio-h > picture,
.aspect-ratio-h > a > picture,
.aspect-ratio-h > article {
  aspect-ratio: 1;
}

// portrait ratios are 70% in width on small screens
.aspect-ratio-b,
.aspect-ratio-f {
  @include bp-sm() {
    max-width: 65%;
  }
  @include bp-md() {
    max-width: none;
  }
}