/**→
 * -----------------------------------------------------------------------------
 * File: layout/article
 * -----------------------------------------------------------------------------
 */

article {


  ul {
    list-style-type: none;
    margin: 0 0 $space-16x 0;
    padding: 0;
  }

  li {
    display: list-item;
    margin: 0;
    padding: 0 0 0 18px;
    position: relative;

    &:before {
      content: "–";
      margin-left: -18px;
      position: absolute;
    }
  }

}

article.teaser {
  h2 {
    @extend %mb-16x;
  }

  .teaser__link {
    @include font-size($fs-sm);

    a {
      @extend %link-external;
    }
  }
}