/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

html {
  height: -webkit-fill-available;
	overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  @extend %inner-block;
  @extend %pb-11x;
  @extend %sm\:pb-22x;
  @extend %md\:pb-44x;
	background-color: $color-white;
	color: $color-black;
	@include font-smoothing();
	@include font-regular();
	@include font-size($fs-base);
  min-height: 100vh;
  min-height: -webkit-fill-available;
	position: relative;
}

// Scrollbars
@include scrollbar(7px, #bbb);

// * {
//   background: rgb(0 100 0 / 0.05) !important;
// }