/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  @extend %pt-11x;
  @extend %sm\:pt-22x;
  @extend %md\:pt-44x;
  background-color: $color-white;
  height: $header-height;
  position: sticky;
  top: 0;
  z-index: 100;
  
  @include bp-sm() {
    height: $header-height-sm;

    &.site-header--project {
      height: $header-height-project-sm;
    }
  }

  @include bp-md() {
    height: $header-height-md;
    &.site-header--project {
      height: $header-height-project-md;
    }
  }
  
  > div {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}