/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-sm: (
  null: (12px,1.33),
  sm:   (15px,1.33),
  md:   (15px,1.33),
  lg:   (15px,1.33),
  xl:   (15px,1.33),
);

$fs-base: (
  null: (16px,1.22),
  sm:   (18px,1.22),
  md:   (18px,1.33),
  lg:   (18px,1.33),
  xl:   (18px,1.33),
);

// Menu
$fs-menu: (
  null: (25px,1.22),
  sm:   (18px,1.22),
  md:   (24px,1.22),
  lg:   (24px,1.22),
  xl:   (24px,1.22),
);

$fs-sub-menu: (
  null: (20px,1.22),
  sm:   (18px,1.22),
  md:   (18px,1.22),
  lg:   (18px,1.22),
  xl:   (18px,1.22),
);

// Auth / Buttons
$fs-btn: (
  null: (15px,1.33),
  sm:   (15px,1.33),
  md:   (15px,1.33),
  lg:   (15px,1.33),
  xl:   (15px,1.33),
);