/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */

@font-face {
  font-family: 'MaisonNeueDemi';
  src: url('fonts/MaisonNeue-Demi.woff2') format('woff2'),url('fonts/MaisonNeue-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaisonNeueBook';
  src: url('fonts/MaisonNeue-Book.woff2') format('woff2'), url('fonts/MaisonNeue-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaisonNeueLight';
  src: url('fonts/MaisonNeue-Light.woff2') format('woff2'), url('fonts/MaisonNeue-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

