/**
 * -----------------------------------------------------------------------------
 * File: components/collapsible
 * -----------------------------------------------------------------------------
 */

.collapsible {

  &.is-expanded {

    .btn-collapsible {
      svg {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: inline-block;
        }
      }
    }
  }

  &.is-last {
    margin-bottom: 0 !important;
  }

}