/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

%link-external,
.link-external {
  @include background-default();
  background-image: url($url-icons + "arrow-up-right.svg");
  color: $color-black;
  text-decoration: none;
  transition: color .12s ease-in;

  &:hover {
    background-image: url($url-icons + "arrow-up-right-hover.svg");
    color: $color-blue;
  }
}

%link-external--sm,
.link-external--sm {
  background-size: 9px auto;
  background-position: top 4px left;
  padding-left: 16px;

  @include bp-sm() {
    background-size: 10px auto;
    background-position: top 5px left;
    padding-left: 18px;
  }
}

%link-external--md,
.link-external--md {
  background-size: 11px auto;
  background-position: top 4px left;
  padding-left: 18px;

  @include bp-sm() {
    background-size: 12px auto;
    background-position: top 5px left;
    padding-left: 20px;
  }
}

%link-more,
%link-less,
.link-more,
.link-less {
  align-items: center;
  display: flex;
  line-height: 1;

  svg {
    @extend %mt-3x;
    display: block;
  }

  span {
    display: block;
    margin-left: $space-8x;
  }
}