/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/misc
 * -----------------------------------------------------------------------------
 */

.btn-close {
  color: $color-primary;
  display: block;
  height: 20px;
  right: $space-5x;
  position: absolute;
  top: $space-3x;
  width: 20px;
}
